HOST= localhost
PORT= 3000

DB_NAME= nombre bbdd
DB_HOST= localhost
DB_PORT= 5432
DB_USERNAME=  ingresar_usuario
DB_PASSWORD=ingresar_contraseña

CLOUDINARY_CLOUD_NAME= 'ingresar_cloud_name'
CLOUDINARY_APY_KEY= 11111111111
CLOUDINARY_APY_SECRET= 'ingresar_apy_secret'

JWT_SECRET ='una variable secreta'